Tinkoff Start Summer 2022

Analytics

Made by Sudin Igor

* Environmental setup
* Data generation
* Send data to sql and alter tables
* Queries
  - Query 1
  - Query 2
  - Query 3

# Environment setup

In [1]:
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 10.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 155680 files and directories currently installed.)
Preparing to unpack .../0-cron_3.0pl1-128.1ubuntu1.2_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1.2) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../1-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../2-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../3-postgresql-client-common_190ubuntu0.1_all.deb ...
Unpacking postgresql-client-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-client-10.
Preparing to unpack .../4-postgresql-client-10_10.21-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-client-10 (10.21-0ubuntu0.18.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../5-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../6-postgresql-common_190ubuntu0.1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-10.
Preparing to unpack .../7-postgresql-10_10.21-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-10 (10.21-0ubuntu0.18.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../8-postgresql_10+190ubuntu0.1_all.deb ...
Unpacking postgresql (10+190ubuntu0.1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../9-sysstat_11.6.1-1ubuntu0.1_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.1) ...
Setting up sysstat (11.6.1-1ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up cron (3.0pl1-128.1ubuntu1.2) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up postgresql-client-common (190ubuntu0.1) ...
Setting up postgresql-common (190ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-client-10 (10.21-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/share/postgresql/10/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-10 (10.21-0ubuntu0.18.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 10/main ...
/usr/lib/postgresql/10/bin/initdb -D /var/lib/postgresql/10/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/10/main ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default timezone ... Etc/UTC
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    /usr/lib/postgresql/10/bin/pg_ctl -D /var/lib/postgresql/10/main -l logfile start

Ver Cluster Port Status Owner    Data directory              Log file
10  main    5432 down   postgres /var/lib/postgresql/10/main /var/log/postgresql/postgresql-10-main.log
update-alternatives: using /usr/share/postgresql/10/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.53) ...
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE

In [2]:
!pip install psycopg2-binary
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 15.4 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [3]:
import pandas as pd
import numpy as np
import random
!pip install faker
import faker
import datetime
from faker import Faker
from pandas import DataFrame

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-14.0.0-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 14.0 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-14.0.0

In [4]:
def select(sql):
  return pd.read_sql(sql,con)

# Data generation

In [25]:
# It is recommended to change these constants for different queries
NUM_OF_PILOTS = 12
NUM_OF_PLANES = 12
NUM_OF_FLIGHTS = 160

fake = Faker(locale=['en_US'])

def create_pilots_df(number_of_pilots : int = 10) -> pd.DataFrame:
  """
  Generate pilots data
  """
  pilots = pd.DataFrame()
  pilots['pilot_id'] = range(number_of_pilots)
  # names = ['Ivan', 'John', 'Vladimir', 'Piter', 'Alex', 'Max', 'Jack', 'William', 'Anna', 'Mark']
  # pilots['name'] = random.choices(names, k=number_of_pilots)
  pilots['name'] = [fake.name() for _ in range(number_of_pilots)]
  pilots['age'] = [random.randint(22,60) for _ in range(number_of_pilots)]
  ranks = ['CoPilot', 'ATPL3', 'ATPL2', 'ATPL1']
  pilots['rank'] = random.choices(ranks, k=number_of_pilots, weights = [1,5,2,1])
  education_levels = ['High School','College', 'Bachelor\'s Degree', 'Master']
  pilots['education_level'] = random.choices(education_levels, k=number_of_pilots, weights = [1,2,6,2])
  return pilots

def create_planes_df(number_of_planes : int = 6) -> pd.DataFrame:
  """
  Generate planes data
  """
  planes = pd.DataFrame()
  planes['plane_id'] = range(number_of_planes)
  planes['cargo_flg'] = random.choices([0,1],k=number_of_planes)
  # 70, 230
  planes['capacity'] = [(random.randint(20, 60) if planes['cargo_flg'][i] == 0 else random.randint(10, 50)) for i in range(number_of_planes)]
  return planes

def create_flights_df(number_of_flights : int, 
                      number_of_planes : int, 
                      number_of_pilots : int,
                      planes_df : pd.DataFrame, 
                      pilots_df : pd.DataFrame,
                      min_quantity : int = 5) -> pd.DataFrame:
  """
  Generate flights data
  """
  flights = pd.DataFrame()
  flights['flight_id'] = range(number_of_flights)
  flights['flight_dt'] = [fake.date_time_between_dates(datetime_start=datetime.datetime(2022, 1, 1),
                                                        datetime_end=datetime.datetime(2022, 9, 1),
                                                        tzinfo=None)
                          for i in range(number_of_flights)]
  flights['plane_id'] = random.choices(range(number_of_planes), k = number_of_flights)
  flights['first_pilot_id'] = random.choices(range(number_of_pilots), k = number_of_flights) 
  # Generate a co-pilot so that it does not coincide with the first one
  pilots_list = list(pilots_df['pilot_id'])
  flights['second_pilot_id'] = [random.choice(
                                              [pilot_id for i, pilot_id in enumerate(pilots_list) if i != pilots_list.index(flights['first_pilot_id'][j])] 
                                              ) 
                                for j in range(number_of_flights)]
  airports = ['Шереметтьево','Внуково','Домодедово']
  flights['destination'] = random.choices(airports, weights = [3,1,1], k = number_of_flights)
  # Generate the number of occupied seats/cargo depending on the parameters of the aircraft
  flights['quantity'] = [random.randint(min_quantity, int(planes_df[planes_df['plane_id'] == flights['plane_id'][i]]['capacity'])) for i in range(number_of_flights)] 
  flights = flights.sort_values(['flight_dt'])
  flights.reset_index(inplace = True, drop = True)
  flights['flight_id'] = flights.index
  return flights

In [26]:
pilots = create_pilots_df(NUM_OF_PILOTS)
pilots

    pilot_id              name  age     rank    education_level
0          0    Jennifer Jones   32    ATPL2  Bachelor's Degree
1          1   Jeremy Robinson   27    ATPL3  Bachelor's Degree
2          2      Heather Webb   40    ATPL3  Bachelor's Degree
3          3      Ryan Perkins   37    ATPL3  Bachelor's Degree
4          4       Jamie Hanna   40    ATPL3  Bachelor's Degree
5          5  Melissa Gonzalez   53    ATPL3        High School
6          6   Brandon Carlson   58  CoPilot  Bachelor's Degree
7          7     Paul Mitchell   47  CoPilot  Bachelor's Degree
8          8     Edward Gordon   42    ATPL3  Bachelor's Degree
9          9  Brittney English   45    ATPL2  Bachelor's Degree
10        10  Walter Boyle Jr.   26    ATPL2            College
11        11      Kayla Horton   30    ATPL3  Bachelor's Degree

In [27]:
planes = create_planes_df(NUM_OF_PLANES)
planes

    plane_id  cargo_flg  capacity
0          0          1        10
1          1          0        33
2          2          0        21
3          3          0        45
4          4          1        21
5          5          0        28
6          6          1        28
7          7          0        54
8          8          0        54
9          9          1        49
10        10          1        11
11        11          1        47

In [28]:
flights = create_flights_df(NUM_OF_FLIGHTS, NUM_OF_PLANES, NUM_OF_PILOTS, planes, pilots)
flights

,flight_id,flight_dt,plane_id,first_pilot_id,second_pilot_id,destination,quantity
0,0,2022-01-01 09:26:00,3,7,8,Домодедово,39
1,1,2022-01-05 04:06:47,11,6,1,Шереметтьево,42
2,2,2022-01-05 20:16:18,2,5,0,Внуково,10
3,3,2022-01-07 23:43:50,1,7,8,Шереметтьево,32
4,4,2022-01-11 04:48:54,4,2,3,Внуково,16
...,...,...,...,...,...,...,...
155,155,2022-08-27 22:47:33,8,0,3,Шереметтьево,47
156,156,2022-08-28 08:58:24,3,5,11,Шереметтьево,27
157,157,2022-08-28 18:23:27,10,9,4,Домодедово,7
158,158,2022-08-30 13:11:57,5,10,1,Шереметтьево,18
159,159,2022-08-31 00:39:22,1,11,4,Внуково,26

# Send data to sql and alter tables

In [29]:
# Before adding new data, delete old data
con.execute('DROP TABLE pilots CASCADE')
con.execute('DROP TABLE planes CASCADE')
con.execute('DROP TABLE flights CASCADE')

In [30]:
pilots.to_sql('pilots',con,index=False,if_exists='replace',method='multi')
planes.to_sql('planes',con,index=False,if_exists='replace',method='multi')
flights.to_sql('flights',con,index=False,if_exists='replace',method='multi')

In [31]:
con.execute('ALTER TABLE pilots ADD PRIMARY KEY(pilot_id)')
con.execute('ALTER TABLE planes ADD PRIMARY KEY(plane_id)')
con.execute('ALTER TABLE flights ADD PRIMARY KEY(flight_id, flight_dt)')
# con.execute('ALTER TABLE flights ADD PRIMARY KEY(flight_dt)')
con.execute('ALTER TABLE flights ADD FOREIGN KEY(plane_id) REFERENCES planes (plane_id)')
con.execute('ALTER TABLE flights ADD FOREIGN KEY(first_pilot_id) REFERENCES pilots (pilot_id)')
con.execute('ALTER TABLE flights ADD FOREIGN KEY(second_pilot_id) REFERENCES pilots (pilot_id)')

In [32]:
sql = '''SELECT column_name, data_type, character_maximum_length, column_default, is_nullable
FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'flights';
'''
select(sql)

,column_name,data_type,character_maximum_length,column_default,is_nullable
0,flight_id,bigint,None,None,NO
1,flight_dt,timestamp without time zone,None,None,NO
2,plane_id,bigint,None,None,YES
3,first_pilot_id,bigint,None,None,YES
4,second_pilot_id,bigint,None,None,YES
5,destination,text,None,None,YES
6,quantity,bigint,None,None,YES

# Queries

* I will use PostgreSQL to write queries
* The data which was used for debugging hasn't connection between the current generation and the query result because of the non constant random state and changing constants.

### Task 1. Write a query that brings out the pilots who went to "Шереметьево" Airport three times this August as a co-pilot.

In [33]:
sql = '''SELECT pilots.pilot_id, pilots.name FROM flights
JOIN pilots ON flights.second_pilot_id = pilots.pilot_id
WHERE extract(year from flights.flight_dt) = extract(year from now()) AND extract(month from flights.flight_dt) = 8 AND destination = 'Шереметтьево'
GROUP BY pilots.pilot_id
HAVING COUNT(*) = 3;
'''
select(sql)

   pilot_id          name
0        11  Kayla Horton

### Task 2. Take out pilots over 45 years old who have flown on planes with more than 30 passengers.

In [34]:
sql = '''SELECT DISTINCT subq1.pilot_id, pilots.name from (
  SELECT first_pilot_id AS pilot_id FROM flights
  JOIN planes ON planes.plane_id = flights.plane_id
  WHERE planes.cargo_flg = 0 AND flights.quantity > 30
  UNION
  SELECT second_pilot_id FROM flights
  JOIN planes ON planes.plane_id = flights.plane_id
  WHERE planes.cargo_flg = 0 AND flights.quantity > 30
) AS subq1
JOIN pilots ON pilots.pilot_id = subq1.pilot_id
WHERE pilots.age > 45 
'''
select(sql)

   pilot_id              name
0         5  Melissa Gonzalez
1         6   Brandon Carlson
2         7     Paul Mitchell

### Task 3. Output the top 10 pilot-captains (first_pilot_id) who have flown the most cargo flights this year.

In [35]:
sql = '''SELECT flights.first_pilot_id, COUNT(*) AS num_of_flights, pilots.name FROM flights
JOIN planes ON planes.plane_id = flights.plane_id
JOIN pilots ON pilots.pilot_id = flights.first_pilot_id
WHERE planes.cargo_flg = 1 AND extract(year from flights.flight_dt) = extract(year from now())
GROUP BY first_pilot_id, pilots.name 
ORDER BY num_of_flights DESC
LIMIT 10
'''
select(sql)

   first_pilot_id  num_of_flights              name
0              11               9      Kayla Horton
1               7               8     Paul Mitchell
2               1               8   Jeremy Robinson
3              10               8  Walter Boyle Jr.
4               2               7      Heather Webb
5               6               6   Brandon Carlson
6               9               6  Brittney English
7               8               5     Edward Gordon
8               5               4  Melissa Gonzalez
9               3               3      Ryan Perkins